.map-layout__controls {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.25em;
  top: 100px;
  right: 10px;
  z-index: 1;
}
