.page__title {
  font-size: 2rem;
  margin-bottom: 1em;
  font-weight: 600;
}

.page__section {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1em;
  margin-bottom: 2em;
}

.page__subtitle {
  color: var(--color-text-body-dimmed);
  font-size: 1.6rem;
}
