.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 24px;
  padding: 0.25em 2em;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  gap: 1em;
  width: 100%;
}

.button__icon-left {
  color: rgb(31, 130, 22);
}

.button--primary {
  color: white;
  background-color: var(--color-primary);
}

.button--success {
  color: white;
  background-color: rgb(31, 130, 22);
}

.button--neutral {
  color: black;
  background-color: rgb(233, 233, 233);
}

.button--danger {
  color: white;
  background-color: rgb(214, 67, 77);
}

.button--icon {
  background-color: transparent;
  width: fit-content;
  padding: 0;
}

.button:disabled {
  opacity: 50%;
}
