.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 24px;
  padding: 0.25em 2em;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  gap: 1em;
  width: 100%;
}

.button__icon-left {
  color: rgb(31, 130, 22);
}

.button--primary {
  color: white;
  background-color: rgb(67, 124, 214);
}

.button--success {
  color: white;
  background-color: rgb(31, 130, 22);
}

.button--neutral {
  color: black;
  background-color: rgb(222, 222, 222);
}

.button--danger {
  color: white;
  background-color: rgb(214, 67, 77);
}
