.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 24px;
  padding: 0.25em 2em;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  gap: 1em;
  width: 100%;
}

.button__icon-left {
  color: var(--color-primary);
}

.button--primary {
  color: var(--color-text-on-primary);
  background-color: var(--color-primary);
}

.button--neutral {
  color: var(--color-text-on-neutral);
  background-color: var(--color-neutral);
}

.button--danger {
  color: var(--color-text-on-primary);
  background-color: var(--color-status-error);
}

.button--icon {
  background-color: transparent;
  width: fit-content;
  padding: 0;
}

.button--fit-content {
  width: fit-content;
}

.button:disabled {
  opacity: 50%;
}
