.checklist {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 4px;
  gap: 0.5em;
}

.checklist-item {
  background-color: var(--color-neutral);
  display: flex;
  align-items: center;
  gap: 1.5em;
  padding: 1em;
  width: 100%;
  cursor: pointer;
}

.checklist-item__icon {
  color: var(--color-text-body-dimmed);
  font-size: 2.5rem;
  opacity: 0.5;
}

.checklist-item--completed .checklist-item__icon {
  color: var(--color-status-success);
  opacity: 1;
}

.checklist-item__content {
}
