form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1em;
}

form .form__field {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  gap: 0.25em;
}

form .form__field--required label::after {
  content: "*";
  color: var(--color-status-danger);
}

form label {
  font-size: 1.2rem;
}

form input,
textarea,
select {
  width: 100%;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 4px;
  padding: 0.5em 0.5em;
}

form input:focus,
form textarea:focus,
form select:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 1px;
}
