.carousel-instructions {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px 0;
  scroll-snap-type: y mandatory;
}

.carousel-instructions__item {
  flex: 0 0 auto;
  width: 100%;
  scroll-snap-align: start;
}
