.map-control {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  border-radius: 6px;
  color: rgb(69, 69, 69);
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1/1;
}

.map-control__icon {
  font-size: 2rem;
}

.map-control--geolocate {
}

.map-control--zoom {
}

.map-control--current-position {
}
