.map-control {
  --current-position-radius: 18px;

  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  border-radius: 6px;
  color: rgb(69, 69, 69);
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1/1;
}

.map-control__icon {
  font-size: 2rem;
}

.map-control--geolocate {
}

.map-control--zoom {
}

.map-control--current-position {
  position: absolute;
  inset: 0;
  background-color: var(--color-status-info);
  border-radius: 50%;
  z-index: 100;
}

.map-control--current-position::before {
  animation: pulse 2s infinite;
  content: "";
  position: absolute;
  background-color: var(--color-status-info-dimmed);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  z-index: 5;
}

.map-control--current-position:after {
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 3px #00000059;
  box-sizing: border-box;
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  z-index: 10;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  70% {
    opacity: 0;
    transform: scale(3);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}
