/* Styles généraux de la fenêtre modale */

.modal__overlay {
  position: fixed;
  inset: 0;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1em;
  background-color: white;
  border-radius: 16px;
  min-width: min(75%, 25rem);
  max-width: 50%;
  padding: 0.75em 0.75em;
}

.modal__content {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  width: 100%;
  padding: 1em;
  text-align: center;
}

.modal__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.modal__close {
  background-color: transparent;
  outline: none;
  border: none;
  margin: 0;
  cursor: pointer;
}

/* Custom Modal Contents */

.cmc-save {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.cmc-save__title {
  font-size: 2rem;
}

.cmc-task-instruction__image {
  object-fit: contain;
  max-height: 20rem;
}
