.navigation {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fbfbfb;
}

.navigation__tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.45em;
  padding-block: 0.35em;
}

.tab {
  flex: 1;
  color: #636363;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.15em;
  cursor: pointer;
}

.tab--button {
  margin-inline: 0.5em;
  background-color: #c2c2c22c;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.137);
  border-radius: 16px;
  color: rgb(31, 130, 22);
}

.tab__label {
  font-size: 0.65rem;
  font-weight: 400;
}

.tab--active {
  color: rgb(31, 130, 22);
}

.tab--active .tab__label {
  font-weight: 600;
}
