.navigation {
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fbfbfb;
}

.navigation__tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.5em;
  padding-block: 0.5em;
}

.tab {
  flex: 1;
  color: #636363;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  cursor: pointer;
}

.tab--button {
  margin-inline: 0.5em;
  border-radius: 16px;
  color: rgb(31, 130, 22);
}

.tab__label {
  font-size: 1rem;
  font-weight: 400;
}

.tab.active {
  color: rgb(31, 130, 22);
}

.tab.active .tab__label {
  font-weight: 600;
}
