.navigation {
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-neutral);
  padding-bottom: env(safe-area-inset-bottom);
}

.navigation__tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.5em;
  padding-block: 0.5em;
}

.tab {
  flex: 1;
  color: var(--color-text-on-neutral);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  cursor: pointer;
}

.tab--button {
  position: relative;
  margin-inline: 0.5em;
  border-radius: 16px;
  color: var(--color-primary);
}

.tab--button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1/1;
  width: 4rem;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
}

.tab__label {
  font-size: 1rem;
  font-weight: 400;
}

.tab.active {
  color: var(--color-primary);
}

.tab.active .tab__label {
  font-weight: 600;
}
