.status-bar {
  position: absolute;
  top: calc(2.8rem + 2rem);
  background-color: hsla(0, 0%, 100%, 0.75);
  backdrop-filter: blur(8px);
  left: 0;
  right: 0;
}

.status-bar__indicators {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
  color: rgb(50, 50, 50);
  padding: 0.75em 1em;
  z-index: 10;
}

.indicator {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.indicator__icon {
  flex-shrink: 0;
}

.indicator__data {
  font-weight: 300;
  font-size: 1.2rem;
  color: rgb(50, 50, 50);
  font-family: var(--font-body);
}

.indicator__level {
  height: 0.5em;
  width: 0.5em;
  border-radius: 100%;
  opacity: 100%;
}

.indicator__level--none {
  background-color: hsl(0, 96%, 56%);
}

.indicator__level--gps,
.indicator__level--dgps {
  background-color: hsl(28, 100%, 60%);
}

.indicator__level--rtk-fixed {
  background-color: hsl(113, 80%, 52%);
}

.indicator__level--rtk-float {
  background-color: hsl(257, 93%, 64%);
}
