.toast {
  position: fixed;
  z-index: 9999;
  bottom: 10rem;
  left: 1rem;
  background-color: var(--color-secondary);
  border-radius: 24px;
  font-size: 1.2rem;
  font-weight: 500;
  border: 1px solid var(--color-status-neutral);
  display: flex;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  max-width: min(75vw, 400px);
  opacity: 0.9;
}

.toast--visible {
  animation: toast-slide-in 0.2s ease-out forwards;
}

@keyframes toast-slide-in {
  from {
    transform: translateY(25%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 0.9;
  }
}

@keyframes toast-fade-out {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0;
  }
}

.toast--top-left {
  top: 10rem;
  bottom: auto;
  left: 1rem;
}

.toast--bottom-left {
  bottom: 9rem;
  top: auto;
  left: 1rem;
}

.toast__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 1em 1em 1em 4em;
  width: auto;
}

.toast__close {
  position: relative;
  top: 0.5pt;
  font-size: 1.2rem;
  cursor: pointer;
  flex-shrink: 0;
}

.toast__left {
  position: absolute;
  top: 0;
  bottom: 0;
  padding-inline: 1em 0.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px 0 0 24px;
}

.toast__icon {
  font-size: 1.5em;
}

.toast--success {
  border-color: var(--color-status-success);

  .toast__left {
    background-color: var(--color-status-success-dimmed);
  }

  .toast__icon {
    color: var(--color-status-success);
  }
}

.toast--info {
  border-color: var(--color-status-info);

  .toast__left {
    background-color: var(--color-status-info-dimmed);
  }

  .toast__icon {
    color: var(--color-status-info);
  }
}

.toast--neutral {
  border-color: var(--color-status-neutral);

  .toast__left {
    background-color: var(--color-status-neutral-dimmed);
  }

  .toast__icon {
    color: var(--color-status-neutral);
  }
}

.toast--error {
  border-color: var(--color-status-error);

  .toast__left {
    background-color: var(--color-status-error-dimmed);
  }

  .toast__icon {
    color: var(--color-status-error);
  }
}

.toast--warn {
  border-color: var(--color-status-warn);

  .toast__left {
    background-color: var(--color-status-warn-dimmed);
  }

  .toast__icon {
    color: var(--color-status-warn);
  }
}
