.toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

.toolbar__infos {
  padding: 1rem 1.8rem;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25em;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.toolbar__infos .wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.toolbar__action {
  font-size: 1.2rem;
}

.toolbar-indicator {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5em;
  min-width: 10ch;
}

.toolbar-indicator__icon {
  color: rgb(206, 206, 206);
}

.toolbar-indicator__data {
  font-size: 1.4rem;
}

.toolbar__actions {
  padding: 1rem 1.8rem;
  width: 100%;
  display: flex;
  gap: 2em;
  background-color: white;
}

.toolbar__clear {
  width: fit-content;
}
