.toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.toolbar__infos {
  padding: 1rem 1.8rem;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25em;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.toolbar__infos .wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.toolbar__action {
  font-size: 1.2rem;
  max-width: fit-content;
  padding-inline: 1.25em;
}

.toolbar-indicator {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5em;
  min-width: 10ch;
}

.toolbar-indicator__icon {
  color: var(--color-text-accent);
}

.toolbar-indicator__data {
  font-size: 1.4rem;
}

.toolbar__actions {
  padding: 1rem 0.25vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
}

.toolbar__actions .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1vw;
  max-width: 40rem;
}

.toolbar__clear {
  width: fit-content;
}

@media (max-width: 340px) {
  .toolbar__actions .wrapper {
    flex-direction: column;
  }
  .toolbar__action {
    max-width: 100%;
  }
  .toolbar__actions {
    padding: 1rem 5rem;
  }
}
