.navx-logo {
  height: 2.4rem;
}

.topbar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(31, 130, 22);
  color: white;
  z-index: 10;
  padding: 1rem 1rem;
}

.topbar__left {
  display: flex;
  flex: 3;
  gap: 1em;
  align-items: center;
  justify-content: left;
}

.topbar-left__button {
  cursor: pointer;
}

.topbar__right {
  flex: 1;
}

.topbar__title {
  font-size: 2rem;
  font-weight: 600;
}
