.topbar__logo {
  height: 2.4rem;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
  color: white;
  z-index: 10;
  padding: 1rem 1rem;
  padding-top: env(safe-area-inset-top);
}

.topbar__left {
  display: flex;
  flex: 3;
  gap: 1em;
  align-items: center;
  justify-content: left;
}

.topbar-left__back {
  cursor: pointer;
  height: 2.4rem;
}

.topbar__right {
  flex: 1;
}

.topbar__title {
  font-size: 2rem;
  font-weight: 600;
}
