.map-container {
  height: 100svh;
  width: 100svw;
  position: relative;
}

#position {
  position: absolute;
  top: 85px;
  left: 10px;
  font-size: 1rem;
  color: white;
  padding: 0.5em 1em;
  min-width: 25ch;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  z-index: 1;
}

#map {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#scrim {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.tabs-container {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fbfbfb;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.45em;
  padding-block: 0.35em;
}

.tab {
  flex: 1;
  color: #636363;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.15em;
}

.tab--button {
  margin-inline: 0.5em;
  background-color: #c2c2c22c;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.137);
  border-radius: 16px;
  color: rgb(31, 130, 22);
}

.tab__label {
  font-size: 0.65rem;
  font-weight: 400;
}

.tab--active {
  color: rgb(31, 130, 22);
}

.tab--active .tab__label {
  font-weight: 600;
}

.toolbar-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(31, 130, 22);
  color: white;
  height: 75px;
  z-index: 2;
  padding-inline: 1em;
}

.toolbar-left {
  display: flex;
  flex: 3;
  align-items: center;
  justify-content: space-between;
}

.toolbar-right {
  flex: 1;
}

.toolbar__title {
  font-size: 1.75rem;
  font-weight: 600;
}

.btn {
  background-color: rgb(100, 125, 241);
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  white-space: nowrap;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btn:focus-visible {
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
}

/* Sizes */
.btn--small {
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.4;
}

.btn--medium {
  padding: 12px 16px;
  font-size: 16px;
  line-height: 1.5;
}

.btn--large {
  padding: 16px 24px;
  font-size: 18px;
  line-height: 1.5;
}

.header {
  position: absolute;
  background-color: #282c34;
  padding: 15px 20px;
  color: white;
  display: flex;
  justify-content: space-between;

  gap: 2rem;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h1 {
  margin: 0;
  font-size: 20px;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.header-buttons button {
  padding: 8px 16px;
  font-size: 13px;
}
