.map-container {
  height: calc(100svh - 5rem);
  width: 100svw;
  position: relative;
}

#geolocate,
#bluetoothControl {
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75em;
  border-radius: 6px;
  color: rgb(112, 112, 112);
  cursor: pointer;
}

#bluetoothControl {
  top: 175px;
}

#position {
  position: absolute;
  top: 85px;
  left: 10px;
  font-size: 1rem;
  color: white;
  padding: 0.5em 1em;
  min-width: 25ch;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  z-index: 1;
}

#map {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
