*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

strong {
  font-weight: 600;
}

textarea {
  resize: none;
  overflow: auto;
  font-family: inherit;
}

*::selection {
  background-color: var(--color-primary);
  color: white;
}

*:hover::selection {
  background-color: var(--color-primary);
  color: white;
}
